@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,700;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
}
button {
    text-transform: uppercase;
  }
  
  body {
    background: radial-gradient(circle, #1f3756 50%, #141539);
    color: white;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
 
  .site-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2% 5%;
  }
  
  
  .btn-rules {
    background: transparent;
    border: 2px solid #606e85;
    border-radius: 8px;
    color: white;
    font-size: 1.5rem;
    padding: 2% 6%;
    letter-spacing: 0.1rem;
    outline: none;
  }
  
  
  
  .btn-rock {
    background-image: url("../img/icon-rock.svg.png");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 12px solid #dc2e4e;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(221, 64, 93, 0.7);
            box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(221, 64, 93, 0.7);
    cursor: pointer;
    width: 45%;
    height: 45%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  
  
  
  .btn-paper {
    background-image: url("../img/icon-paper.svg.png");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 12px solid #4865f4;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(86, 113, 245, 0.7);
            box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(86, 113, 245, 0.7);
    cursor: pointer;
    width: 45%;
    height: 45%;
  }
  
  
  
  .btn-scissors {
    background-image: url("../img/icon-scissors.svg.png");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 12px solid #ec9e0e;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(236, 169, 34, 0.7);
            box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(236, 169, 34, 0.7);
    cursor: pointer;
    width: 45%;
    height: 45%;
  }
  
 
  
  .btn-play-again {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: resultBox;
    background-color: white;
    color: #2a46c0;
    border-radius: 8px;
    padding: 3% 15%;
    margin-top: 4%;
    font-size: 16px;
  }
  
  .game-wrapper {
    height: 45vh;
    margin: 15% 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-image: url("../img/bg-triangle.svg.png");
    
    background-position: center;
    background-repeat: no-repeat;
  }
  
  
  
  .result-wrapper {
    height: 60vh;
    margin: 5% 0 10% 0;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 50% 10% 40%;
        grid-template-rows: 50% 10% 40%;
    gap: 2% 0;
        grid-template-areas: 'playerSelection houseSelection' 'playerLabel houseLabel' 'resultBox resultBox';
  }
  

  
  .result-label--player {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: playerLabel;
  }
  
  .result-label--house {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: houseLabel;
  }
  
  .result-box {
    display: none;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: resultBox;
    width: 100%;
    max-width: 100%;
  }
  
  .game-result {
    font-size: 2.5rem;
  }
  
  .player-selection {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    cursor: default;
    outline: none;
    pointer-events: none;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: playerSelection;
  }
  
  .house-selection {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    cursor: default;
    outline: none;
    pointer-events: none;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: houseSelection;
  }
  
  .rules-modal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
  }
  
  .rules-modal__content {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 2%;
    background-color: white;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .rules-modal__content--close {
    float: right;
  }
  
  .rules-modal__content--img {
    display: block;
    margin: auto;
    margin-top: 10%;
  }
  
  .show-modal {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
  }
  
  .scoreboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 2px solid #606e85;
    border-radius: 12px;
    margin: 5%;
    padding: 3%;
  }
  
  .scoreboard__logo {
    width: 50%;
    max-width: 100%;
    height: auto;
  }
  
  .scoreboard__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f0f2f4;
    border-radius: 8px;
    padding: 2% 7%;
  }
  
  .scoreboard__box--label {
    color: #2a46c0;
  }
  
  .scoreboard__box--score {
    color: #3b4363;
    font-size: 2.75rem;
    font-weight: 700;
  }
  
  .btn-rock:hover,
  .btn-paper:hover,
  .btn-scissors:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  
  .btn-play-again:hover {
    -webkit-box-shadow: 0 1px 3px white;
            box-shadow: 0 1px 3px white;
    font-weight: 700;
    color: #dc2e4e;
    outline: none;
  }
  
  .btn-play-again:active {
    -webkit-box-shadow: 0 1px 3px white;
            box-shadow: 0 1px 3px white;
    font-weight: 700;
    color: #dc2e4e;
    outline: none;
  }
  
  .btn-play-again:focus {
    -webkit-box-shadow: 0 1px 3px white;
            box-shadow: 0 1px 3px white;
    font-weight: 700;
    color: #dc2e4e;
    outline: none;
  }
  
  .btn-rules:hover {
    background: #f0f2f4;
    color: #2a46c0;
    border-color: #2a46c0;
    -webkit-box-shadow: 0 0 8px white;
            box-shadow: 0 0 8px white;
  }
  
  
  
  .loading-dot {
    border-radius: 50%;
    border: none;
    width: 45%;
    height: 45%;
    background-color: rgba(0, 0, 0, 0.5);
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: houseSelection;
    -webkit-animation: pulse-animation 1.5s ease-out infinite;
            animation: pulse-animation 1.5s ease-out infinite;
  }
  
  
  
  .is-winner::before {
    content: '';
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background-color: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.09), 0 0 0 40px rgba(255, 255, 255, 0.06), 0 0 0 60px rgba(255, 255, 255, 0.03);
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.09), 0 0 0 40px rgba(255, 255, 255, 0.06), 0 0 0 60px rgba(255, 255, 255, 0.03);
  }

  /* media queries */
  

  @media screen and (min-width: 576px) {
    .btn-reset {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (min-width: 1220px) {
 
  
  @media screen and (min-width: 576px) {
    .btn-rules {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (min-width: 1220px) {
    .btn-rules {
      font-size: 1.15rem;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
    }
  }
  
  @media screen and (min-width: 576px) {
    .btn-play-again {
      margin-top: 8%;
      font-size: 1.5rem;
    }
  }
  
  @media screen and (min-width: 1220px) {
    .btn-play-again {
      font-size: 16px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .scoreboard {
      margin: 3% 5%;
    }
  }
  
  @media screen and (min-width: 1220px) {
    .scoreboard {
      width: 50%;
      margin: 2% auto;
      padding: 1% 2%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .scoreboard__logo {
      width: auto;
    }
  }
  
  @media screen and (min-width: 1220px) {
    .scoreboard__logo {
      width: 25%;
    }
  }
  
  @media screen and (min-width: 576px) {
    .scoreboard__box--label {
      font-size: 1.5rem;
    }
    .scoreboard__box--score {
      font-size: 3.5rem;
    }
  }
  
  @media screen and (min-width: 992px) {
    .scoreboard__box--score {
      font-size: 2.75rem;
    }
  }
  
  @media screen and (min-width: 1220px) {
    .scoreboard__box--label {
      font-size: 16px;
    }
    .scoreboard__box--score {
      font-size: 2.75rem;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 360px) {
    .game-wrapper {
      background-size: 70%;
    }
  }
  
  @media screen and (min-width: 375px) and (max-width: 375px) {
    .game-wrapper {
      background-size: 80%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .game-wrapper {
      background-size: 80%;
    }
  }
  
  @media screen and (min-width: 1220px) {
    .game-wrapper {
      background-size: 50%;
    }
  }
  
  @media screen and (min-width: 1366px) {
    .game-wrapper {
      background-size: 80%;
    }
  }
  
  @media screen and (min-width: 576px) {
    .result-label {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .result-label {
      font-size: 2.5rem;
    }
  }
  
  @media screen and (min-width: 1220px) {
    .result-label {
      font-size: 1.15rem;
    }
  }
  
  @media screen and (min-width: 1366px) {
    .result-label {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (min-width: 576px) {
    .game-result {
      font-size: 2.75rem;
    }
  }
  
  @media screen and (min-width: 1220px) {
    .site-footer {
      padding: 0 2%;
    }
  }
  

  

  @media screen and (min-width: 768px) {
    .is-winner::before {
      -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.09), 0 0 0 70px rgba(255, 255, 255, 0.06), 0 0 0 120px rgba(255, 255, 255, 0.03);
              box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.09), 0 0 0 70px rgba(255, 255, 255, 0.06), 0 0 0 120px rgba(255, 255, 255, 0.03);
    }
  }
}